.plans-container-positioning {
  height: 100%;
  width: 90%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.plans-filter {
  background-color: #ffffff;
  flex-grow: 1;
  margin-right: 2px;
}

.plans-list {
  background-color: #ffffff;
  flex-grow: 6;
}
